*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

.top_bar{
  width: 100%;
  min-width: 1050px; /*set up a minimal screen width*/
  height: 40px;
  background-color: #20aae5;
  border-bottom: 0.25em solid #2980b9;
  margin: 0 0 10px 0;
  display: inline-flex;
}

.logo a{
  font-family: 'Bellota-LightItalic', sans-serif;
  margin-left: 20px;
  font-size: 150%;
  position: relative;
  top: 8px;
  text-shadow: #73b6e2 0.5px 0.5px 0px;
  color: #1086ba;
}

a:hover{
  text-decoration: none;
}

nav {
  float: right;
  right: 2px;
  position: absolute;
  margin: 10px 10px 10px 10px;
}

nav a{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}


nav a:hover{
  border-bottom: 7px solid  #1086ba;
}
